*.o
*.obj
*.res
*.tds
*.map
x64
ipch
Debug
Release
.vs
*.sdf
*.suo
*.opensdf
*.user
*.filters
CMakeFiles
CMakeCache.txt
*.cmake
Makefile
build
*.dir
ALL_BUILD.vcproj
ZERO_CHECK.vcproj
TypicalGtkmmApp.ncb
TypicalGtkmmApp.sln
TypicalGtkmmApp.vcproj
TypicalGtkmmApp.exe
TypicalGtkmmApp
stdafx.h.gch
